form {
  display: flex;
  flex: 1;
  height: 100vh;
  // padding: 15px;
  //background-color: #61a0f8;
  // // 修改以下值試試看 flex-start | flex-end | center | space-between | space-around;
  // justify-content: space-around;

  // 修改以下值試試看 flex-start | flex-end | center | baseline | stretch;
  align-items: flex-start;
  //margin-top: 32px;
}

.login-card {
  margin: 16% auto;
  text-align: center;
}

.login100-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
}

.login100-form-title i {
  font-size: 60px;
}

.mat-icon {
  font-size: 32px;
}
